<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <%= render partial: 'info', locals: { user: @user } %>
  <hr />

  <h1>Products</h1>

  <%= render partial: 'products/products'%>

  <%= paginate @products %>
</div>
