<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <%= render partial: 'info', locals: { user: @user } %>
  <hr />

  <h2>Products</h2>

  <%= render partial: 'products/products' %>

  <%= paginate @products %>
</div>
