html, body, #search {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

.wrapper {
  padding-bottom: 9em;
  min-height: 100%;
}

h1{
  color: #76A0B0;
}

.hidden {
  display:none;
}

input {
  margin-top: 3px;
  margin-bottom: 2em;
}

input.btn {
  margin-top: 1em;
}

body {
  background-color: #FFFBFF;
}

.title{
  margin: 1em 0em;
}

.thumb-image {
  min-height: 200px;
}

.thumb-image > img, .thumb-image a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px;
}

table.cart tr td:nth-child(3) {
  text-align: right;
}

header {
  margin-bottom: 1em;
}

header > nav {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: solid #171114;
}

header:after {
  content: '';
  display: block;
  position:relative;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.footer {
  width: 100%;
  height: 4.5em;
  background-color: $navbar-default-bg;
  position: relative;
  top: -4.5em;
  border-top: 1px solid #171114;
}

.footer:before {
  content: '';
  display: block;
  position:relative;
  width: 100%;
  top: -2px;
  border-top: 1px solid #aaa;
}

.footer > div {
  margin-top: 1.5em;
  color: #aaa;
}

.narrow {
  margin-top: 0.5em;
  margin-bottom: 0px;
}

#search {
  margin-left: 0.5em;
}

.error {
  color: #ff0000;
}

header, h1, h2, h3, h4, h5, h6 {
  color: #555;
  margin-bottom: 1.5em;
  font-family: 'Fjalla One', sans-serif;
}

ul.product-actions {
  text-decoration: none;
}

ul.product-actions li {
  display: inline;
}

ul.product-actions li:last-child:after {
  content: '';
  margin: 0;
}

ul.product-actions li:after {
  content: '|';
  margin-left:1em;
  margin-right:1em;
}

blockquote {
  background: -webkit-linear-gradient(left, #dee , #FFFBFF);
  background: -o-linear-gradient(right, #dee, #FFFBFF);
  background: -moz-linear-gradient(right, #dee, #FFFBFF);
  background: linear-gradient(to right, #dee , #FFFBFF);
}

blockquote:hover {
  background: -webkit-linear-gradient(left, #bcc , #FFFBFF);
  background: -o-linear-gradient(right, #bcc, #FFFBFF);
  background: -moz-linear-gradient(right, #bcc, #FFFBFF);
  background: linear-gradient(to right, #bcc , #FFFBFF);
}

.thumbnail {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  background-color:#eee;
  -webkit-box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.75);
  box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.75);
}

.product-top h1 {
  display: inline;
  margin-right: 0.5em;
}

.product-top .product-price {
  position:relative;
  color: #333;
  margin-right: 1em;
}

.product-top .product-price strong{
  font-size: 1.5em;
}
.product-top .glyphicon-tag,
.product-top .btn {
  position: relative;
  top: -1em;
}

.product-top li span {
  margin-right: 0.7em;
}

.product-description {
  margin: 2em 0em;
}

#cart-count {
  position: relative;
  padding-left: 0;
  left: -0.5em;
  top: -0.5em;
}

blockquote .edit {
  clear:both;
}

td.actions a {
  margin-left: 1em;
}

td.actions a:first-child {
  margin-left: 0;
}

.glyphicon-remove {
  color: #d74437;
}

.list-group-item-heading {
  height: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 1 ;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

blockquote.own-review {
  cursor: image-url('pencil_cursor.png') 10 10, auto;
}

.site-logo {
  width: 50px;
}
