<div>Hello <%= @resource.email %>!</div>

<div>Someone has requested a link to change your password. You can do this through the link below.</div>

<div><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></div>

<div>If you didn't request this, please ignore this email.</div>
<div>Your password won't change until you access the link above and create a new one.</div>
