<table>
  <tr>
    <th>Body</th>
    <th>Product</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.body %></td>
      <td><%= link_to review.product.title, product_path(review.product) %></td>

      <% if owner?(review.user_id) %>
        <td><%= link_to 'Edit', edit_product_review_path(review.product, review) %></td>
        <td><%= link_to 'Destroy', product_review_path(review.product, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
