<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>


<%= link_to 'Edit', edit_product_review_path(@product, @review) if owner?(@review.user_id) %>
<%= link_to 'Back', product_reviews_path(@product) %>
